/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot');
	src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro.woff') format('woff'),
		 url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro-Bold.woff') format('woff'),
		 url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro-Black';
	src: url('../fonts/GothamPro-Black.eot');
	src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Black.woff') format('woff'),
	url('../fonts/GothamPro-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;


}

.-ms-300{font-family: 'Montserrat', sans-serif; font-weight: 300;}
.-ms-400{font-family: 'Montserrat', sans-serif; font-weight: 400;}
.-ms-500{font-family: 'Montserrat', sans-serif; font-weight: 500;}
.-ms-600{font-family: 'Montserrat', sans-serif; font-weight: 600;}
.-ms-700{font-family: 'Montserrat', sans-serif; font-weight: 700;}

.-got-400{font-family: 'Gotham Pro', sans-serif; }
.-got-600{font-family: 'GothamPro-Bold', sans-serif; }
.-got-700{font-family: 'GothamPro-Black', sans-serif; }


/*-fs start*/
.-fs-60 {font-size: 60px;}
	.-fs-45 {font-size:45px;}
	.-fs-40 {font-size:40px;}
	.-fs-36 {font-size:36px;}
	.-fs-32 {font-size:32px;}
	.-fs-30 {font-size:30px;}
	.-fs-29 {font-size:29px;}
	.-fs-28 {font-size:28px;}
	.-fs-27 {font-size:27px;}
	.-fs-26 {font-size:26px;}
	.-fs-25 {font-size:25px;}
	.-fs-24 {font-size:24px;}
	.-fs-23 {font-size:23px;}
	.-fs-22 {font-size:22px;}
	.-fs-21 {font-size:21px;}
	.-fs-20 {font-size:20px;}
	.-fs-19 {font-size:19px;}
	.-fs-18 {font-size:18px;}
	.-fs-17 {font-size:17px;}
	.-fs-16 {font-size:16px;}
	.-fs-15 {font-size:15px;}
	.-fs-14 {font-size:14px;}
	.-fs-13 {font-size:13px;}
	.-fs-12 {font-size:12px;}
	.-fs-11 {font-size:11px;}
/*-fs end*/

::selection {background: #3C5469; color: #fff;}
::-moz-selection {background: #3C5469; color: #fff;}

html, body {
	font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 16px; line-height: 25px; color: #2E2E2E; max-width: 1920px; min-width: 320px; margin: 0 auto; position: relative; background: #EFEFEF;
}


img {max-width:100%;}
h1, .h1 {font-size: 60px; font-weight: 700; line-height: 1.2;}
h2, .h2 {font-size: 40px; font-weight: 700; line-height: 1.2;}
h3, .h3 {font-size: 30px; font-weight: 700; line-height: 1.2;}
.section_title {line-height: 1.2; font-size: 50px; font-family: 'Montserrat', sans-serif; font-weight: 700;}


a {color: #000000; text-decoration-line: underline; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
a:hover, a:focus {text-decoration:none; color: #000000; outline: none; box-shadow:none;}
b{font-weight: 700;}
p {margin: 0;}
*+p {margin-top: 30px;}

.main{}
.container {max-width: 1624px;}
.container-fluid{}




.section{padding-top: 110px; padding-bottom: 110px; min-height: 100vh;}

.-fullwidth {width:100%;}
.-right{text-align: right;}
.-left{text-align: left;}
.-center{text-align: center;}
.popup {display:none; padding:0; width:100%; margin:0; color:#fff;}





/*button .btn*/
button:focus, a:focus, img:focus {outline:none;}
.btn {text-decoration:none; cursor:pointer; font-family: 'Gotham Pro'; transition: all 0.3s; position: relative;}
.btn-check:focus+.btn, .btn:focus{outline: none; box-shadow:none}
.btn-primary {color: #303030; text-transform: uppercase;  line-height: 50px; background: transparent; box-shadow: none; padding: 0; text-decoration: none; border:none; z-index: 2;}
.btn-primary span{color: #303030; text-transform: uppercase; background: #FFFFFF; border-radius: 0; line-height: 50px; font-size: 14px; padding: 0 36px; display: inline-block; transition: all 0.3s; width: 100%;}
.btn-primary:after{content: ''; border: 1px solid #232323; width: 100%; height: 50px; position: absolute; top: 6px; left: 6px; z-index: -1; }
.btn-primary:focus, .btn-primary.focus {outline:0; color: #fff; background: #2D3033; border:none; box-shadow: none}

.btn-white.btn-primary:after{content: ''; border: 1px solid #fff; width: 100%; height: 50px; position: absolute; top: 6px; left: 6px; z-index: -1;}


.btn-primary:hover,.btn-primary:focus:hover, .btn-primary.focus:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus { border:none; box-shadow: none; outline: none; text-decoration: none; background: none;}

.btn-primary:hover span,.btn-primary:focus:hover span, .btn-primary.focus:hover span, .btn-primary:not(:disabled):not(.disabled):active span, .btn-primary:not(:disabled):not(.disabled):active:focus span, .btn-primary:not(:disabled):not(.disabled).active:focus span{color: #fff; border:none; box-shadow: none; background: #2D3033; outline: none; text-decoration: none;     transform: translate(6px, 5px);}


.search_btn{background: url(../i/search-icon.svg)no-repeat; width: 17px; height: 17px; padding: 0; background-size: contain; position: absolute; top: 50%; right: 0; transform: translateY(-50%)}

	/*
	*/
		/*.-download-btn {-webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center;}
			.-download-btn:after {content:""; display:block; width:20px; height:20px; background:url(../i/download.svg) no-repeat 50% 50%; margin-left:16px;}
		.-loadimg-btn {-webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center;}
			.-loadimg-btn:after {content:""; display:block; width:20px; height:20px; background:url(../i/load_img.svg) no-repeat 50% 50%; margin-left:16px;}
		.-clear-btn {-webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center;}
			.-clear-btn:after {content:""; display:block; width:20px; height:18px; background:url(../i/clear.svg) no-repeat 50% 50%; margin-left:16px;}*/
/*
	.btn-question{padding: 12px 10px 12px 36px; position: relative;}
	.btn-question:before{content: ''; background: url(../i/form-icon.svg) no-repeat center center; width: 15px; height: 10px; position: absolute;top: 15px; left: 10px;}
	.btn-link {color:#fff; background: linear-gradient(104.55deg, #FA6528 0%, #F4851E 100%); border:none; padding:12px 37px!important; border-radius: 0; box-shadow:none; text-transform: uppercase;}

	.btn-link:focus, .btn-link.focus {box-shadow:none; outline:0; color:#fff;  background-color: #17457d; box-shadow:none; text-decoration:none;}
	.btn-link:hover,.btn-link:focus:hover, .btn-link.focus:hover {color:#fff; background: linear-gradient(104.55deg, #FA6528 0%, #F4851E 100%);  box-shadow:none; text-decoration:none;}




	.btn-secondary {color: #1f5ca6; text-transform: uppercase; background: transparent; border: none; padding:0; border-radius:0; box-shadow:none; text-align: center;text-decoration: none; font-weight: 600;}
	.btn-secondary:focus, .btn-secondary.focus {box-shadow:none; outline:0; color: #1f5ca6; background: transparent; border: none;}
	.btn-secondary:hover,.btn-secondary:focus:hover, .btn-secondary.focus:hover, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus {color: #1f5ca6; text-transform: uppercase; background: transparent; border: none; box-shadow:none; }*/

/*checkbox start*/
	/*label {margin:0;}
	.form-check-label{display: flex; width: 100%; justify-content: space-between;}
	input[type=checkbox], input[type=radio] {display: none;}
	input[type=checkbox] + label:after {content: ""; display: block; width: 20px; height: 20px; background: #fff; border: 3px solid #fff; box-shadow: 0px 0px 0px 1px #FA6528; transition: color ease .3s;}
	input[type=radio] + label:after{content: "";display: block; border: 3px solid #fff; box-shadow: 0px 0px 0px 1px #FA6528; border-radius: 50%; background: #fff; height: 20px; width: 20px; transition: color ease .3s;}
	input[type=checkbox]:checked + label:after {background: linear-gradient(93.81deg, #FA6528 0%, #F4851E 100%);}
	input[type=radio]:checked + label:after {background: linear-gradient(93.81deg, #FA6528 0%, #F4851E 100%);}*/
/*checkbox end*/




/*slick*/
.slick-dotted.slick-slider{margin-bottom: 0;}
.slick-slide:focus{outline: none;}
.slick-arrow{background: transparent; width: 402px; height: 168px; border-radius: 0; z-index: 3; display: flex; align-items: center; justify-content: center;}
.slick-arrow{ width: 97px; height: 100px;}
/* .main_carousel .slick-prev{left: 54%; top: 58%;}
.main_carousel .slick-next{right: 27%; top:72%} */

.main_carousel_nav{position: absolute; bottom:22%; right: 21%; display: flex; transform: rotate(22deg);}
.main_carousel_nav .slick-arrow{transform: skew(-46deg, 0deg) translate(0px, 6px); width: 286px; height: 98px; transition: all 0.3s; cursor: pointer;}

.partners_carousel_nav{position: absolute; bottom:-44px; right: 40%; display: flex; transform: rotate(22deg);}
.partners_carousel_nav .slick-arrow{transform: skew(-46deg, 0deg) translate(0px, 6px); width: 286px; height: 98px; transition: all 0.3s; cursor: pointer;}


.s-prev:before{content: ''; background: url(../i/main-left-arr.svg)no-repeat center center; width: 110px; height: 20px; display: block; background-size:contain}
.s-next:before{content: ''; background: url(../i/main-right-arr.svg)no-repeat center center; width: 110px; height: 20px; display: block; background-size:contain}
.s-prev:hover, .s-prev:focus, .s-next:hover, .s-next:focus{background: #FFFFFF; transform: skew(-46deg, 0deg) translate(-12px, -4px);}
.s-prev:hover:before, .s-prev:focus:before, .s-next:hover:before, .s-next:focus:before{
	}






/* 
.partners_carousel .slick-prev{left: 152%; top: 56%;}
.partners_carousel .slick-next{right: -140%; top:88%} */

	.slick-prev:before{content: ''; background: url(../i/slick-arrow-left.svg)no-repeat center center; width: 100%; height: 20px; display: block; transform: skew(-69deg, 29deg) translateY(4px); background-size:contain}
	.slick-next:before{content: ''; background: url(../i/slick-arrow-right.svg)no-repeat center center; width: 100%; height: 20px; display: block; transform: skew(-69deg, 29deg) translateY(4px);background-size:contain}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{background: #FFFFFF; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
	transform: skew(-69deg, 29deg) translateY(-2px);}

	

.slick-dots{bottom: 178px;}
.slick-dots li{margin: 0 20px; width: auto;}
.slick-dots li:first-child{margin-left: 0;}
.slick-dots li:last-child{margin-right: 0;}
.slick-dots li button{padding: 0; width: auto; transition: all 0.3s;}
.slick-dots li button:before{content: ''; background: #000; width: 25px; height: 1px; display: inline-block; border-radius: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);opacity: 1;}
.slick-dots li.slick-active button:before{content: ''; border: none; background: #000; width: 85px; height: 3px; display: inline-block; border-radius: 0;opacity: 1;}
.slick-dots li button, .slick-dots li{width: 25px;}
.slick-dots li.slick-active button, .slick-dots li.slick-active{width: 85px;}


/*breadcrumb start*/
	/*.breadcrumb{background-color:transparent;padding: 0; margin-bottom: 8px; align-items: center; padding: 0;}
	.breadcrumb-item a{color: #000;font-size: 14px;text-decoration: none;}
	.breadcrumb-item.active{color: #1f5ca6;text-decoration: underline;}
	.breadcrumb-item+.breadcrumb-item::before{content: '\2192'; color: #000; vertical-align: middle;}*/
/*breadcrumb end*/


.home {}
	.wrapper {padding-top: 16px;    }
		.header {}
			.header_row {align-items: center;}
				.header_col_logo {}
					.header_logo {}
				.header_col_search {}
					.header_search {}
						.form-inline {max-width: 376px;}
							.form_search {width: 100%; position: relative;	}
								.form-inline .form-control {border: none; border-bottom: 1px solid #2E2E2E; border-radius: 0; background: transparent; font-size: 15px; color: #2E2E2E; padding-bottom: 21px; padding-left: 0; }
								.form-control:focus, .form-control:hover{outline: none; box-shadow: none; border-color: #2E2E2E; background: transparent;}
				.header_contact_phone_row {position: relative;}
				.header_contact_phone_row:before{content: ''; background: rgba(5, 5, 5, .4);height: 51px; width: 1px; position: absolute; top: 0; left: 3em;}
				.header_contact_phone_row:after{content: ''; background: rgba(5, 5, 5, .4);height: 51px; width: 1px; position: absolute; top: 0; right: 3em;}
					.header_contact_phone_row {display: flex; flex-wrap: wrap; justify-content: flex-end;}
				
						.header_contact_phone {width: 326px;}
							.h-phone {display: block; text-align: right; text-decoration: none; white-space: nowrap;}
							.h-phone_text {text-align: right; display: block; margin-top: 11px;}
						.header_callback_btn {width: 40%; text-align: center; margin-right: 60px; margin-left: 40px;}
							.callback {}
				.header_col_lang {}
					.header_lang {display: flex; justify-content: space-between; position: relative;}
						.lang{text-decoration: none; color: #2E2E2E;}
						.lang:first-child:after{content: "|"; color: #2E2E2E; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
						.lang.active {font-family: 'GothamPro-Bold'; font-weight: 600;}
.main{padding-top: 60px; padding-bottom: 103px;}
.lines {background: url(../i/second_bg.png)no-repeat; width: 100%; padding-top: 0; padding-bottom: 0; position: absolute; height: 790px;}
.home .lines {background: url(../i/second_bg.png)no-repeat; width: 100%;  padding-top: 0; padding-bottom: 0; position: fixed; height: 790px;}

.lines:before{content: ''; background: url(../i/first_bg.png)no-repeat; background-position: right; height: 780px; position: absolute; top:0; right: 0; width: 100%;}
	.main_nav {}
		.main_menu {width: 240px; position: fixed; top: 308px; z-index: 2; list-style-type: none; padding-left: 0;}
		.catalog .main_menu{top: 367px}
		.main_menu .list-group-item{background-color:transparent; padding: 0;border:none;	}
		.list-group-item+.list-group-item.active{margin-top: 0; border-top-width:0;}
				.menu-item{color: #2E2E2E;line-height: 50px; position: relative; text-decoration: none; font-family: 'GothamPro-Bold'; font-weight: 700; display: block;}
				.menu-item.active, .menu-item:hover{color:#0D82CD;background-color:transparent;}
				.menu-item:before{content: ''; position: absolute; top: 50%; left: -104px; width: 80px; height: 1px; background: transparent; display: block; transform: translateY(-50%);}
				.menu-item.active:before, .menu-item:hover:before{background: #0D82CD;}
			.main_content {}
				.section_first {padding-top: 0; }
				.section_first:before{}
				.main_carousel_wrap{position: relative;}
					.main_carousel {height: 780px; /*background: url(../i/mainsliderbg.png) no-repeat;*/}
					.slick-list, .slick-track{height: 100%;}
						.main_carousel .carousel_item {height: 100%; background-position-y: calc(50% - 78px)!important;  background-position-x: right!important; position: relative; max-width: 50%;}
						.main_carousel .carousel_item_img_top{position: absolute; top: calc(50% - 86px); right: 0; transform: translateY(-50%); max-width:50%; z-index: 2;}
						.main_carousel .carousel_item_img_base{position: absolute; top: 40%; right: 0; transform: translateY(-50%); max-width:50%;}



							.main_carousel .carousel_item_content {display: flex; flex-direction: column; max-width: 530px; padding-top: 140px;}
								.carousel_item_title {line-height: 70px; }
								.char {animation: slide-in 0.5s cubic-bezier(.3, 0, .3, 1) both; animation-delay: calc(80ms * var(--char-index));}
								 @keyframes slide-in {
									from {
									  transform: translateY(1em);
									  opacity: 0;
									}
								 }
								.main_carousel .carousel_item_btn {margin-top: 80px;}
					.bottom_scroll{background: url(../i/bscroll.svg)no-repeat center; height: 63px; text-align: center; margin-top: -120px;}
				.section_catalog{}
				.section_catalog_wrap{padding-left: 22%; position: relative;}
					.carousel_item_top{max-width: 516px; position: absolute; top:0; right: 10%;}
				
					.catalog_carousel{height: 780px;/*cursor:none*/}
					.catalog_carousel .carousel_item{margin: 0 50px; position: relative;}
						.catalog_carousel .carousel_item_content{position: relative;display: flex; flex-direction: column; max-width: 100%; padding-top: 0;	 height: 100%; }
						.catalog_carousel .slick-list.draggable {padding-right: 386px;}
							.catalog_carousel .carousel_item_title{max-width: 628px; padding-left: 98px;position: relative; z-index: 2; top:114px}
							
							.catalog_carousel .carousel_item_img{background: #fff;}
							.catalog_carousel .carousel_item_img img{height: 100%; object-fit: cover;}
							.catalog_carousel .carousel_item_btn{position: absolute; bottom:0; right: 0;}
							.catalog_carousel .carousel_item_btn a{ margin-right: 53px; margin-bottom: 27px;}
						.cursor{position: fixed; width: 130px; height: 130px; border-radius: 50%; border: 2px solid #fff; color: #fff; text-align: center; display: flex;justify-content: center;flex-direction: column; pointer-events: none; text-transform: uppercase; font-weight: 700;opacity: 0; z-index: 999; transition: transform .3s; left:50%; top:50%;  box-shadow:0 0 5px #000; text-shadow:0 0 5px #000}




				.section_about{}
				.section_about:before{}
					.section_content{position: relative;}
						.about_row{}
							.about_text{}
							.about_text .section_title{margin-bottom: 65px; max-width: 412px;}
								.about_desc{line-height: 2;}
						.about_bottom{margin-top: 74px;}
				.section_service{overflow: hidden;}
				.section_service:before{}
					.section_service .section_content{max-width: 1052px; position: relative;}
						.service_top{display: flex; justify-content: flex-end;}
							.service_top_text{padding-bottom: 16px;}
							.service_top_text span{margin-top: 21px; display: block;}
						.section_service .section_title{position: relative; z-index: 2; padding-left: 98px; max-width: 500px;}
						.service_img{margin-top: -118px;}
							.white{color: #fff;}
						.section_service .section_btn{position: absolute; bottom:0; right: 0; padding-bottom: 51px; padding-right: 70px; }
						.section_service .section_btn a{color: #fff}



				.section_partners{}
				.section_partners:before{}
				.section_partners .section_content{padding-left: 21%;}
					.partners_top{display: flex;}
						.partners_top .section_title{padding-right: 118px; max-width:530px}
						.partners_top .section_top_text{line-height: 1.8; max-width:620px}
					.partners_carousel{margin-top: 115px;}
						.partners_for{max-width: 412px;}
							.partners_for_item{}
								.partners_for_item_name{color: #2E2E2E; text-decoration-line: underline; line-height: 1.3; margin-bottom: 43px;}
								.partners_for_item_contact{line-height: 2;}
									.partners_for_item_site{color: #0D82CD; display: block; text-decoration: none;	}
									.partners_for_item_phone{display: block; color: #2E2E2E; }
								.partners_for_item_anons{margin-top: 40px; }
						.partners_nav_wrap{position: relative; height: 100%;}
						.partners_nav{ margin-left: 100px; top:50%; transform:translateY(-50%)}
							.partners_nav_item{margin: 0 33px;}
							.partners_nav .slick-track{display: flex !important; align-items: center; justify-content: flex-end;}
							.partners_nav .slick-slide{height: inherit !important;}
				.section_news{}
				.section_news:before{}
					.news_list{margin-top: 46px; max-width: 1052px;}
					.news-col:nth-child(odd) .news_list_item{margin-bottom: 162px;}
					.news-col:nth-child(even) .news_list_item{margin-top: 100px; margin-bottom: 0;}
						.news_list_item{padding-left: 140px; position: relative; }
							.news_list_item_data{position: absolute; top: 0; left: 0; color: #000; text-align: center; line-height: 1.5;}
							.news_list_item_img{-webkit-filter: grayscale(100%); filter: grayscale(100%);}
							.news_list_item_title{text-decoration: none; margin-top: 18px; display: block; line-height: 1.2;}
							.news_list_item:hover .news_list_item_img{-webkit-filter:none; filter:none;}
				.section_form{}
					.form_wrap{margin-top: 74px;}
						.form_row{margin-bottom: 52px;}
						.section_form .form-control{background: transparent; border: none; border-radius:0; border-bottom: 1px solid #000000; padding: 20px 0; color: #2E2E2E;}
						.section_form .form-control:hover, .section_form .form-control:focus{border: none; border-bottom: 1px solid #000000;}
						.section_form .btn{min-width: 221px;}
.footer{background: #1B1B1B; box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.5); padding-top: 30px;padding-bottom: 43px; position: relative; z-index: 2;}
	.footer_row{align-items: center;}
		.footer_logo{}
		.footer_menu{display:flex; padding-left: 50px; justify-content: space-between;}
		 .footer_menu .footer_menu-item{color: #fff; text-decoration: none;}
		 .footer_menu .footer_menu-item:hover{color: #0D82CD}
		.footer_contact_row{display: flex; flex-wrap: wrap; justify-content: space-between;}
			.footer_contact_phone{padding-left: 80px;}
				.f-phone{color:#fff; display: block;text-decoration: none;}
				.f-phone:hover{color: #0D82CD}
				.f-phone_text{color:#fff; display: block; margin-top: 16px;}
			.footer_callback_btn{padding-left: 40px;}


/* catalog */
.catalog{background: #E1E1E1;}

.breadcrumbs{}
	.breadcrumb{}
		.breadcrumb-item{}
		.breadcrumb-item.active{}
		  .breadcrumb-item a{color: #2E2E2E; text-decoration: none;}
		  .breadcrumb-item+.breadcrumb-item{padding-left: 8px;}
		  .breadcrumb-item+.breadcrumb-item::before{content:"\2192"; font-size: 17px; padding-right: 8px;}
.main_content_wrap{position: relative; padding-top: 161px;}
	.main_content{}
		.catalog_top{margin-top: 140px; max-width:870px}
			.catalog_top_title{line-height: 1.25;}
			.catalog_top_subtitle{margin-top: 28px; line-height: 1.6}

	.category_wrap{padding-left: 22%; position: relative;}
		.category_row{display: flex; justify-content: space-between;}
			.category_list_name{padding-top: 120px;}
				.category_item_name{display: block; max-width:250px; margin-bottom: 76px;  text-decoration: none; line-height: 1.4;transition: all 0.3s;}
				.category_item_name.active{color: #0D82CD;}
				.category_item_name:after{content: ''; background: url(/i/arrow-right.svg) no-repeat; display: inline-block; width: 49px; height: 11px; vertical-align: middle; margin-left: 30px;}


				.category_item_name.active:after{content: ''; background: url(/i/arrow_right_active_blue.svg) no-repeat; display: inline-block; width: 104px; height: 11px; vertical-align: middle; margin-left: 30px;}


			.category_list_img{}
				.category_item_img{display: none;}
				.category_item_img.active{display: block;}


		.category_bottom{padding-top: 62px;}
		.category_bottom_row{display: flex; margin-top: 60px; position: relative; justify-content: flex-end;}
			.section_bottom_title{line-height:1.25; max-width: 664px;}
			.section_bottom_desc{max-width: 664px; line-height: 1.5; position: absolute; top: 0; left: 0;background: #E1E1E1;}
				.section_bottom_desc p{margin-bottom: 37px;}
			.section_bottom_img{margin-top: 151px;}



/* .pl{max-width: 1624px; margin: 0 0 0 auto; padding-left: 30px;} */
.header_col_burger{display: none;}

.header_drop{display: none; background: #fff; position: fixed; top: 0; left: 0; right: 0; padding-top: 21px; z-index: 5;}
	.header_drop_row{align-items: center;}
		.header_drop_col_logo{}
			.header_drop_logo{}
		.header_drop_col_search{}
			.header_drop_search{position: relative; }
				.header_drop_form_search{max-width:100%}
		.header_drop_col_lang{}
			.header_drop_lang{display: flex; justify-content: space-between; position: relative;}
		.header_drop_col_burger{}	
			.navbar-toggler-close{background: url(/i/burger-close.svg) no-repeat center center; width: 34px; height: 34px; display: block; cursor: pointer; border-radius: 0; outline: none; box-shadow: none; border: none; margin: auto;}
			.navbar-toggler-close:focus{outline: none; box-shadow: none;}


	.header_drop_menu{margin-top: 63px; padding-bottom: 118px;}
		.drop_menu_nav{list-style-type: none; display: flex; justify-content: space-between; padding-left: 100px; padding-right: 130px; position: relative;}
			.drop_menu_item{line-height: 2.5; }
			.drop_menu_item:hover .drop_menu_item_link, .drop_menu_item.active .drop_menu_item_link{color: #0D82CD; text-decoration: none;}
				.drop_menu_item_link{text-decoration: none;}
				.drop_menu_item_children{list-style-type: none; display: flex; flex-wrap: wrap;position: absolute; top:100%; left: 0; right: 0; padding-left: 0; justify-content: center; border-top: 1px solid #C4C4C4; margin-top: 18px; padding-top: 18px; display: none;}
					.drop_menu_item_child{}
						.drop_menu_item_child_link{text-decoration: none; padding: 0 20px; line-height: 3.3; position: relative;}
						.drop_menu_item_child_link:after{content: ''; background: #0D82CD; width: 20px; height: 1px; display: none; position: absolute; bottom: calc(-100% + 5px); left: 50%; transform:translateX(-50%)}
						.drop_menu_item_child:hover .drop_menu_item_child_link{color: #0D82CD;}
						.drop_menu_item_child:hover .drop_menu_item_child_link:after{display: block;}
			.parent:hover .drop_menu_item_children{display: flex;}












@media(max-width: 1879px){

}
@media(max-width: 1800px){
	/* .catalog_carousel .carousel_item{margin: 0 30px;} */
	.catalog_carousel .carousel_item{width: 60vw;}
}

@media(max-width: 1600px){
	/* .header_contact_phone{width: 54%;} */
	.header_callback_btn{width: auto;}
	.catalog_carousel .carousel_item_title{font-size: 50px; line-height: 1.2;}
	/* .catalog_carousel .carousel_item{min-width: 800px} */
	
	.catalog_carousel .slick-list.draggable{padding-right: 30%;}
	.header_contact_phone_row{justify-content: center;}
	.header_callback_btn{margin-right:0}
	.header_contact_phone_row:after{right: 1em;}
	.header_contact_phone_row:before{right: 2em;}
	.catalog_carousel .carousel_item_img{height: 100%;}
	.home .lines{background-size: contain;}
	.main_carousel_nav .slick-arrow, .partners_carousel_nav .slick-arrow{width: 220px; height: 80px;}
	.main_carousel_nav{bottom: 24%; right: 22%;}
	

	
}
@media(max-width: 1399px){
	/* .h-phone{font-size: 28px;} */
	
}

@media(max-width: 1280px){

	.container{max-width:1187px}
	.header_col_burger{display: block;}
	.main_nav{display: none;}
	.navbar-toggler{background: url(/i/burger.svg) no-repeat center center; width: 45px; height: 28px; display: block; cursor: pointer; border-radius: 0; outline: none; box-shadow: none;}
	.navbar-toggler:focus{outline: none; box-shadow: none;}
	.header_drop{display: block;}
	
}

@media(max-width: 1199px){

}

@media(max-width: 991px){

}

@media(max-width: 767px){

}

@media(max-width: 575px){

}